body{
    height: 99vh;
    margin: 0;
  
 } 
@keyframes slideX {
    0% {
        transform: translateX(-500%) ;
    }
    

    100% {
        transform: translateX(0%) ;
    }

} 
@keyframes slideY {
    0% {
        transform: translateY(-500%) ;
    }
    

    100% {
        transform: translateY(0%) ;
    }
} 
#root{
    margin: 0;
    padding: 0;
    text-align: center;
} 
.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.test-page{
    height: 100vh;
    width: 100vw;
    margin: 0; 
    position: relative;
} 
.graph{

    margin: 0 1%;
    
} 
.node{
    margin-top: 4%;
    border-radius: 1%;
    height: 60px;
    width: 150px;
    box-shadow: 0.07rem  0.07rem .1rem rgb(190, 37, 37) ;
    transition: box-shadow .5s ease-in; 
    font-family: 'Montserrat';
    display: flex;
    justify-content: center;
    align-items: center;
    
    

} 
.edge{
    height: 5px;
    width: 5px;
    background-color: black;
} 
.home-page{
    height: 99vh;
    width: 100vw;
} 
.container{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    height: -moz-fit-content ;
    height: fit-content ;
    margin-top: 15%;
    padding: 2rem;
    box-shadow: -0.5rem -0.5rem 1rem rgb(202, 190, 190), 0.5rem 0.5rem 1rem rgb(202, 190, 190), 0.5rem -0.5rem 1rem rgb(202, 190, 190), -0.5rem 0.5rem 1rem rgb(202, 190, 190),
     -0.4rem -0.4rem 0.2rem rgb(202, 190, 190), -0.4rem 0.4rem 0.4rem rgb(202, 190, 190), 0.4rem -0.4rem 0.4rem rgb(202, 190, 190),
      0.3rem 0.3rem 0.1rem rgb(202, 190, 190), -0.3rem -0.3rem 0.1rem rgb(202, 190, 190), 0.4rem 0.4rem 0.1rem rgb(202, 190, 190), -0.4rem -0.4rem 0.1rem rgb(202, 190, 190); 
} 
.competences {
    background-color: aliceblue;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    margin: 5% 0 -7% 0;
    opacity: 0;
    transition: opacity 1s;
} 
.title{
    
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 73, 61);
    box-shadow: 0.1rem .1rem 0.1rem grey;
    font-family: 'Montserrat';
    align-items: center;
    color: white; 
    height: 10vh;
    width: 30vw;
    justify-content: center;
    margin: 1% auto;
    transition: all 1s;

} 
.title h1{
        font-size: 1rem;
    } 
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    background: linear-gradient(to right , aliceblue , rgb(212, 212, 250) );
    width: 100%;
    display: flex;
    align-items: center;
       
   
} 
.footer div a{  display: inline;
            justify-content: flex-start;
            } 
.footer div a img{
               height: 3vh;
               align-items: center; 
                
            } 
.footer div p {font-family: "Montserrat"; font-size: 0.7rem; display: inline-block;}
