
@import "./main.css"; 
@import "./animation.css"; 
@import "./graph.css";

.home-page{
    height: 99vh;
    width: 100vw;
}

.container{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    height: fit-content ;
    margin-top: 15%;
    padding: 2rem;
    box-shadow: -0.5rem -0.5rem 1rem rgb(202, 190, 190), 0.5rem 0.5rem 1rem rgb(202, 190, 190), 0.5rem -0.5rem 1rem rgb(202, 190, 190), -0.5rem 0.5rem 1rem rgb(202, 190, 190),
     -0.4rem -0.4rem 0.2rem rgb(202, 190, 190), -0.4rem 0.4rem 0.4rem rgb(202, 190, 190), 0.4rem -0.4rem 0.4rem rgb(202, 190, 190),
      0.3rem 0.3rem 0.1rem rgb(202, 190, 190), -0.3rem -0.3rem 0.1rem rgb(202, 190, 190), 0.4rem 0.4rem 0.1rem rgb(202, 190, 190), -0.4rem -0.4rem 0.1rem rgb(202, 190, 190); 
}

.competences {
    background-color: aliceblue;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    margin: 5% 0 -7% 0;
    opacity: 0;
    transition: opacity 1s;
}

.title{
    
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 73, 61);
    box-shadow: 0.1rem .1rem 0.1rem grey;
    font-family: 'Montserrat';
    align-items: center;
    color: white; 
    height: 10vh;
    width: 30vw;
    justify-content: center;
    margin: 1% auto;
    transition: all 1s;
    h1{
        font-size: 1rem;
    }

}








.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    background: linear-gradient(to right , aliceblue , rgb(212, 212, 250) );
    width: 100%;
    display: flex;
    align-items: center;
    div{
        
        a{  display: inline;
            justify-content: flex-start;
            
            img{
               height: 3vh;
               align-items: center; 
                
            }
            }
        
        p {font-family: "Montserrat"; font-size: 0.7rem; display: inline-block;}
    }
       
   
}
